html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply border border-black rounded-xl px-5 py-1
  }
}